<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0"/>
    <add key="ida:Tenant" value="f7215caf-efd9-4bac-89c5-a3cf109a9f18"/>
    <add key="ida:ClientId" value="67b020d9-7297-4e57-8d8c-18b68574f393"/>
    <add key="todo:TodoListScope" value="67b020d9-7297-4e57-8d8c-18b68574f393/user_impersonation"/>
    <add key="todo:TodoListBaseAddress" value="https://localhost:5001/"/>
  </appSettings>
</configuration>
